@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Status: @Html.DisplayFor(model => model.EnginnerStatus)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer is not licensed to repair any machines!</p>
}
else
{
  <h4>Licenses:</h4>
  @foreach(var join in Model.JoinEntities)
  {
  <section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">@join.Machine.Name</p>
                    @using (Html.BeginForm("DeleteMachine", "Engineers"))
                    {
                      @Html.Hidden("joinId", @join.EngineerMachineId)
                      <input type="submit" value="Delete" class="btn btn-primary"/>
                    }
            </div>
        </div>
    </div>
  </section>
  }
}

<p>@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>